<div class="logo  ">
    <div class="background">
        <div class="back-img">
        </div>
        <div class="back-overlay">
        </div>
    </div>
    <div class="outer">
        <div class="loginForm middle">
            <div class=" inner animated fadeInRight">
                <div class="loginPanelTitle text-center">
                    <label>Admin Panel</label>
                </div>
                <form class="form-horizontal">
                    <button ng-if="!loginCtrl.isAuthenticated" class="btn btn-success full-width  block loginBtn m-b" ng-click="loginCtrl.login()">Sign-in</button>
                    <div ng-if="loginCtrl.isAuthenticated">
                        <spinner-directive></spinner-directive>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>