<div class="eventBody animated fadeInRight">
    <div class="text-center">
        <div class="col-sm-8">
            <h2 class="historyTitle">{{eventsHistoryCtrl.name}}</h2>
        </div>
        <div class="input-group pull-right datapickerHistory col-sm-4 col-xs-10 col-xs-offset-1 text-right datepicker">
            <button type="button" class="btn btn-default full-width" ng-click="eventsHistoryCtrl.open()">
                        {{eventsHistoryCtrl.date | date : 'MMMM yyyy' }}
                 </button>
            <input type="hidden" ng-disabled="eventsHistoryCtrl.showSpinner" class="form-control" uib-datepicker-popup="MMMM yyyy" ng-model="eventsHistoryCtrl.date" is-open="eventsHistoryCtrl.popup.opened" datepicker-options="eventsHistoryCtrl.dateOptions" show-button-bar="false"
                type="month" ng-click="eventsHistoryCtrl.open()" close-on-date-selection="true" on-open-focus="false" />
            <span class="input-group-addon">
                    <i class="fa fa-calendar" ng-disabled="eventsHistoryCtrl.showSpinner" ng-click="eventsHistoryCtrl.open()"></i>
                </span>
        </div>
    </div>
    <div ng-if="eventsHistoryCtrl.showSpinner" class="eventsHistoryCtrl.spinnerClass">
        <spinner-directive color="sk-spinner-events"></spinner-directive>
    </div>
    <div ng-if="!eventsHistoryCtrl.showSpinner">
        <div ng-if=" eventsHistoryCtrl.eventsArr.length == 0" class="text-center nameDestination">
            There are no items
        </div>
        <table ng-if="eventsHistoryCtrl.eventsArr.length > 0" class="table table-hover m-t-sm table-responsive">
            <thead>
                <tr>
                    <th ng-click="eventsHistoryCtrl.sortBy('name')">
                        Event</th>
                    <th ng-click="eventsHistoryCtrl.sortBy('dateOfEvent')">
                        Date</th>
                    <th ng-click="eventsScheduleCtrl.sortBy( 'timeOfEvent') ">
                        Time</th>
                    <th ng-click="eventsHistoryCtrl.sortBy('status')">
                        Repeat</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="event in eventsHistoryCtrl.eventsArr | orderBy: eventsHistoryCtrl.sortField " ui-sref="index.events.historyitem({ historyItemID: event.id })" class="pointer">
                    <td>{{event.name}}</td>
                    <td>{{event.dateOfEvent | date : 'dd-MM-yyyy'}}</td>
                    <td>{{event.timeOfEvent}}</td>
                    <td>{{event | status }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>