<div class="announcementItem animated fadeInRight" ng-if="!announcementDraftItemCtrl.showSpinner">
    <div class="announcementElement">
        <label class="announcementTitle">Title</label>
        <span class="input-group form-control">{{announcementDraftItemCtrl.item.title}}</span>
    </div>
    <div class="announcementElement">
        <label class="announcementTitle">Short Description
                <small>(300 Characters)</small>
            </label>
        <span class="input-group form-control">{{announcementDraftItemCtrl.item.shortDescription}}</span>
    </div>
    <div class="announcementElement">
        <label class="announcementTitle">Description </label>
        <textarea ui-tinymce="announcementDraftItemCtrl.tinymceOptions" ng-model="announcementDraftItemCtrl.item.description"></textarea>
    </div>
    <div class="announcementElement date">
        <div class="input-group">
            <span class="input-group-addon">
                    <label class="announcementTitle date">Date </label>
                </span>
            <span class="input-group form-control">{{announcementDraftItemCtrl.date | date : 'dd-MMMM-yyyy'}}</span>
            <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
        </div>
    </div>
    <div class="announcementElement">
        <label class="announcementTitle">Send to</label>
        <br>
        <span>{{announcementDraftItemCtrl.item.sendTo}}</span>

    </div>
    <div class="announcementElement">
        <label class="emergency" ng-if="announcementDraftItemCtrl.item.isEmergency">
                Emergency Announcement
            </label>
    </div>
    <div class="announcementElement">
        <div class="announcementElement">
            <label class="announcementTitle">File Uploaded</label>
            <div class="eventImgHolder banner">
                <img ng-src="{{announcementDraftItemCtrl.item.banner}}">
            </div>
            <div class="eventImgHolder banner">
                <img ng-src="{{announcementDraftItemCtrl.item.previewImage}}">
            </div>
        </div>
    </div>
</div>