<div class="announcementItem animated fadeInRight">
    <h3 class="announcementHeader">Send Community Announcement


        <button type="button" ng-if="announcementDraftItemCtrl.showEditButtons" ng-disabled="announcementDraftItemCtrl.loading" class="btn btn-onSmall btn-default btn-sm pull-right" ng-click="announcementDraftItemCtrl.delete()">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
        <button type="button" ng-if="announcementDraftItemCtrl.showEditButtons" ng-disabled="announcementDraftItemCtrl.loading" class="btn  btn-onSmall btn-default btn-sm pull-right" ng-click="announcementDraftItemCtrl.update()">
                <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
        </button>

    </h3>
    <div class="announcementElement">
        <label class="announcementTitle">Title</label>
        <input type="text" class="input-group form-control" ng-class="announcementDraftItemCtrl.errName" maxlength="140" ng-model="announcementDraftItemCtrl.item.title">
    </div>
    <div class="announcementElement">
        <label class="announcementTitle">Short Description
            <small>(300 Characters)</small>
        </label>
        <input type="text" max="300" class="input-group form-control" maxlength="300" ng-model="announcementDraftItemCtrl.item.shortDescription">
    </div>
    <div class="announcementElement">
        <label class="announcementTitle">Description </label>
        <textarea ui-tinymce="announcementDraftItemCtrl.tinymceOptions" ng-model="announcementDraftItemCtrl.item.description"></textarea>
    </div>
    <div class="announcementElement date">
        <div class="input-group datepickerItem">
            <span class="input-group-addon" ng-click="announcementDraftItemCtrl.open()">
                <label class="announcementTitle date">Date </label>
            </span>
            <button type="button" class="btn btn-default full-width" ng-click="announcementDraftItemCtrl.open()">
                    {{announcementDraftItemCtrl.date | date : 'dd MMMM yyyy' }}
             </button>
            <input type="hidden" class="form-control text-right" uib-datepicker-popup="dd MMMM yyyy" ng-model="announcementDraftItemCtrl.date" is-open="announcementDraftItemCtrl.popup.opened" datepicker-options="announcementDraftItemCtrl.dateOptions" show-button-bar="false"
                ng-click="announcementDraftItemCtrl.open()" />
            <span class="input-group-addon" ng-click="announcementDraftItemCtrl.open()">
                <i class="fa fa-calendar"></i>
            </span>
        </div>
    </div>
    <div class="announcementElement">
        <label class="announcementTitle">Send to</label>
        <div ng-repeat="announcementGroup in announcementDraftItemCtrl.announcementGroups " class="announcementItemRadio">
            <div class="radio">
                <input type="radio" name="gender" id="{{announcementGroup.id}}" ng-model="announcementDraftItemCtrl.item.announcementGroup" value="{{announcementGroup.id}}">
                <label for="{{announcementGroup.id}}">
                        {{announcementGroup.name}}
                </label>
            </div>
        </div>
        <label class="emergency">
            <input type="checkbox" ng-model="announcementDraftItemCtrl.item.isEmergency" [name="string" ] [ng-true-value="true" ] [ng-false-value="false"
                ] [ng-change="string" ]> Emergency announcement</label>

    </div>
    <div class="announcementElement " ng-if="announcementDraftItemCtrl.item.banner">
        <label class="announcementTitle">File Uploaded</label>
        <div class="eventImgHolder banner">
            <img ng-src="{{announcementDraftItemCtrl.item.banner}}">
            <a href="#" class="fileinput-exists eventDelImg" style="float: none" ng-click="announcementDraftItemCtrl.removeImg($index)">×</a>
        </div>
        <div class="eventImgHolder banner">
            <img ng-src="{{announcementDraftItemCtrl.item.previewImage}}">
            <a href="#" class="fileinput-exists eventDelImg" style="float: none" ng-click="announcementDraftItemCtrl.removeImg($index)">×</a>
        </div>

    </div>

    <div class="announcementElement " ng-if="!announcementDraftItemCtrl.item.banner">
        <label class="announcementTitle">File Upload</label>
        <div class="row">
            <div>
                <input type="file" id="fileInputId" class="inputfile inputfile-2" />
                <label for="fileInputId" class="btn btn-default">
                        <span>Upload File...</span>
                    </label>
            </div>
            <div class="cropArea col-xs-12 col-md-6" ng-if="announcementDraftItemCtrl.myImage">
                <ui-cropper result-image-format="jpg" on-load-done="announcementDraftItemCtrl.loadImage" result-image-quality="100" image="announcementDraftItemCtrl.myImage" area-type="rectangle" aspect-ratio="0.8" result-blob="announcementDraftItemCtrl.myCroppedImageBlob"
                    result-image="announcementDraftItemCtrl.myCroppedImage" result-image-size="'max'" init-max-area="true"></ui-cropper>
            </div>
            <div class=" col-xs-12 col-md-6" ng-if="announcementDraftItemCtrl.myImage">
                <div class="previewTitle">Preview:</div>
                <div><img ng-src="{{announcementDraftItemCtrl.myCroppedImage}}" style="height:150px" /></div>
            </div>
        </div>
    </div>
</div>

<div class="announcement-footer" ng-if="!announcementDraftItemCtrl.showSpinner">
    <button type="button" class="btn btn-announcement" ng-disabled="announcementDraftItemCtrl.loading" ng-click="announcementDraftItemCtrl.send()">
        Send an Announcement
    </button>
    <button type="button" class="btn btn-default" ng-disabled="announcementDraftItemCtrl.loading" ng-click="announcementDraftItemCtrl.save()">
        Save as Draft
    </button>
    <button type="button" ng-if="announcementDraftItemCtrl.showEditButtons" ng-disabled="announcementDraftItemCtrl.loading" class="btn  btn-onLarge btn-default " ng-click="announcementDraftItemCtrl.delete()">
        Delete
    </button>
    <button type="button" ng-if="announcementDraftItemCtrl.showEditButtons" ng-disabled="announcementDraftItemCtrl.loading" class="btn btn-onLarge btn-default" ng-click="announcementDraftItemCtrl.update()">
        Update

    </button>
</div>