<configuration>
    <system.webServer>
     <staticContent>
        <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
        <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
         <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
         <mimeMap fileExtension=".svg" mimeType="application/image/svg+xml" />
         <mimeMap fileExtension=".css" mimeType="text/css" />
         <mimeMap fileExtension=".min.css" mimeType="text/css" />
         <mimeMap fileExtension=".ttf" mimeType="application/image/application/x-font-truetype" />
      </staticContent>
        <rewrite>
          <rules>
              <rule name="CSS" stopProcessing="true">
                <match url=".css" />
                <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" />
                </conditions>
                <action type="None" />
            </rule>
             
              <rule name="minCSS" stopProcessing="true">
                <match url=".min.css" />
                <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" />
                </conditions>
                <action type="None" />
            </rule>
            <rule name="Main Rule" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>