<div ng-if="announcementHistoryItemCtrl.showSpinner" class="p-t-xl">
    <spinner-directive color=" sk-spinner-announcement"></spinner-directive>
</div>

<div ng-if=!announcementHistoryItemCtrl.showSpinner>
    <div ng-if="!announcementHistoryItemCtrl.showControls">
        <announcement-history-item-for-admin></announcement-history-item-for-admin>

    </div>

    <div ng-if="announcementHistoryItemCtrl.showControls">
        <announcement-history-item></announcement-history-item>
    </div>
</div>