<table class="table carsTables col-xs-6">
    <thead>
        <th>
            Numbers
            <button class="btn btn-sm" ng-if="carsNumberCtrl.showControls" ng-click="carsNumberCtrl.addCarNumberForm = !carsNumberCtrl.addCarNumberForm">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </th>

    </thead>
    <tbody>
        <tr ng-repeat="item in carsNumberCtrl.carsNumbersArr track by $index">
            <td>
                <form editable-form name="editableForm" onaftersave="carsNumberCtrl.save(item)" class="editable-form text-left">
                    <span>
                    <a editable-text="item.number" e-name="item.number"  onbeforesave="carsNumberCtrl.checkName(item.id, $data)" e-required>{{ item.number || 'empty' }}</a>
                    </span>
                    <div class="buttons pull-right" ng-if="carsNumberCtrl.showControls">
                        <button type="button" class="btn btn-warning btn-sm" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn- btn-primary btn-sm" ng-disabled="item.loading" ng-click="carsNumberCtrl.delete(item)" ng-show="!editableForm.$visible">
                            <i class="fa fa-trash-o"></i>
                        </button>
                        <span ng-show="editableForm.$visible">
                            <button type="submit" class="btn btn-warning btn-sm" ng-disabled="editableForm.$waiting">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-primary btn-sm" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </td>
        </tr>
        <tr ng-if="carsNumberCtrl.addCarNumberForm">
            <td>
                <div class="col-md-offset-1 col-md-10 destination-list-item " ng-if="carsNumberCtrl.addCarNumberForm">
                    <div class="col-xs-9 text-right destination-list-item-text">
                        <span class="editable-wrap editable-text ng-scope">
                            <div class="editable-controls  form-group">
                                <input type="text" ng-model="carsNumberCtrl.newCarNumber.number" class="editable-input form-control">
                            </div>
                        </span>
                    </div>
                    <div class="buttons">
                        <button type="submit" class="btn btn-warning" ng-disabled="carsNumberCtrl.newCarNumber.loading" ng-click="carsNumberCtrl.add(carsNumberCtrl.newCarNumber)">
                            Add
                        </button>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>