<div class="col-md-offset-1 col-md-10">
    <uib-tabset type="pills" class=" shuttle-pills m-t-sm">
        <uib-tab class="tabs-color" heading="Pending" select="showDatepicker=false">
            <div ng-show="requestsCtrl.showSpinner">
                <spinner-directive color="sk-spinner-shuttle"></spinner-directive>

            </div>
            <div class="text-center nameDestination" ng-if="requestsCtrl.pendingArr.length == 0 && !requestsCtrl.showSpinner">
                <span ng-if="!pendingCtrl.showSpinner">There are no items</span>
            </div>
            <div ng-if="requestsCtrl.pendingArr.length">
                <div class="panel panel-custom repeat-item " ng-repeat="item in requestsCtrl.pendingArr | orderBy: 'requestTime' ">
                    <div class="panel-heading text-center" ng-if="requestsCtrl.showControls">
                        <div class="inline pull-left">
                            <small># {{item.id}}</small>
                        </div>
                        <div class="inline selects">
                            <select class="inline col-xs-8 col-xs-offset-2 col-md-offset-0 col-sm-offset-0 col-md-4 col-sm-4" ng-model="item.driver">
                                    <option ng-repeat="driver in requestsCtrl.driversArr  track by $index" value="{{driver.id}}">{{driver.name}}</option>
                                </select>
                            <select ng-options="item.shuttles as item.name for item in requestsCtrl.availShuttls" class="inline col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-0 col-sm-offset-0 col-sm-4" ng-model="item.shuttlesShow">
                                </select>
                            <select ng-options="item.id as item.number for item in item.shuttlesShow" class="inline col-xs-8 col-xs-offset-2 col-md-offset-0 col-sm-offset-0 col-md-4 col-sm-4" ng-model="item.number">
                                </select>
                        </div>
                        <div class="active-created inline pull-right">
                            <small class="pull-right"> {{item.requestTime | date : 'dd.MM.yyyy, HH:mm' :Z}}</small>
                        </div>
                    </div>
                    <div class="panel-heading text-right" ng-if="!requestsCtrl.showControls">
                        <div class="inline pull-left">
                            <small># {{item.id}}</small>
                        </div>
                        <div class="active-created inline">
                            <small> {{item.requestTime | date : 'dd.MM.yyyy, HH:mm' :Z}}</small>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 text-center">
                                    <strong> {{item.userName}}</strong>

                                </div>
                                <div class="col-md-4 col-sm-4  text-center">
                                    <strong>{{item.phoneNumber}}</strong>
                                </div>

                                <div class="col-md-4 col-sm-4  text-center">
                                    <strong>{{item.pickUpLocation}}</strong>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel-footer" ng-if="requestsCtrl.showControls">
                        <button type="button" class="btn shuttle-btn btn-xs btn-w-m" ng-disabled="item.loading" ng-click="requestsCtrl.assign(item)">
                                Assign
                            </button>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab class="tabs-color" heading="In Progress" select="showDatepicker=false">
            <div class="text-center nameDestination" ng-if="requestsCtrl.inProgress.length == 0 && !requestsCtrl.showSpinner">
                <span ng-if="!pendingCtrl.showSpinner">There are no items</span>
            </div>
            <div ng-if="requestsCtrl.inProgress.length">
                <div class="panel panel-custom  animated fadeInRight" ng-repeat="item in requestsCtrl.inProgress | orderBy: 'requestTime' track by $index">
                    <div class="panel-heading text-center">
                        <div class="inline pull-left">
                            <small># {{item.id}}</small>
                        </div>
                        <div class="inline selects">
                        </div>
                        <div class="active-created inline pull-right">
                            <small class="pull-right"> {{item.requestTime | date : 'dd.MM.yyyy, HH:mm' :Z}}</small>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 text-center">
                                    <strong> {{item.userName}}</strong>

                                </div>
                                <div class="col-md-4 col-sm-4  text-center">
                                    <strong>{{item.phoneNumber}}</strong>
                                </div>

                                <div class="col-md-4 col-sm-4  text-center">
                                    <strong>{{item.pickUpLocation}}</strong>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel-footer text-right">
                        <small>Assinged at {{item.creationTime | date: 'dd-MM-yyyy HH:mm' :Z}}</small>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab class="tabs-color" heading="Completed" select="showDatepicker=true">
            <div ng-show="requestsCtrl.showSpinner">
                <spinner-directive color="sk-spinner-shuttle"></spinner-directive>

            </div>
            <div class="text-center nameDestination" ng-if="requestsCtrl.completedArr.length == 0 && !requestsCtrl.showSpinner">
                <span ng-if="!pendingCtrl.showSpinner">There are no items</span>
            </div>
            <div ng-if="requestsCtrl.completedArr.length">
                <div class="panel panel-custom  animated fadeInRight" ng-repeat="item in requestsCtrl.completedArr | orderBy: '-requestTime' track by $index">
                    <div class="panel-heading text-center">
                        <div class="inline pull-left">
                            <small># {{item.id}}</small>
                        </div>
                        <div class="inline selects">
                        </div>
                        <div class="active-created inline pull-right">
                            <small class="pull-right"> {{item.requestTime | date : 'dd.MM.yyyy, HH:mm' :Z}}</small>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 text-center">
                                    <strong> {{item.userName}}</strong>

                                </div>
                                <div class="col-md-4 col-sm-4  text-center">
                                    <strong>{{item.phoneNumber}}</strong>
                                </div>

                                <div class="col-md-4 col-sm-4  text-center">
                                    <strong>{{item.pickUpLocation}}</strong>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel-footer text-right">
                        <small>Assinged at {{item.creationTime | date: 'dd-MM-yyyy HH:mm'}}</small>
                    </div>
                </div>
            </div>
        </uib-tab>
        <div ng-if="showDatepicker" class="input-group col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2 datepicker  datepickerRequest space-10 pull-right">
            <button type="button" ng-disabled="requestsCtrl.showSpinner" class="btn btn-default full-width" ng-click="requestsCtrl.open()">
                        {{requestsCtrl.date | date : 'dd MMMM yyyy' }}
                 </button>
            <input type="hidden" class="form-control" datepicker-options="requestsCtrl.dateOptions" uib-datepicker-popup="dd MMMM yyyy" ng-model="requestsCtrl.date" is-open="requestsCtrl.popup.opened" show-button-bar="false" type="day" show-Weeks="false" close-on-date-selection="true"
                on-open-focus="false" />
            <span class="input-group-addon">
                <i class="fa fa-calendar" ng-disabled="requestsCtrl.showSpinner" ng-click="requestsCtrl.open()"></i>
            </span>
        </div>
    </uib-tabset>
</div>