<table class="table table-hover carsTables col-xs-6">
    <thead>
        <th>
            {{shuttlesNumberCtrl.name}}
            <button class="btn btn-sm" ng-click="shuttlesNumberCtrl.addCarNumberForm = !shuttlesNumberCtrl.addCarNumberForm" ng-if="shuttlesNumberCtrl.showControls">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </th>

    </thead>
    <tbody>
        <tr ng-if="shuttlesNumberCtrl.carsNumbersArr.length  == 0">
            <td>
                <p class="text-center">
                    <span ng-if="!driversCtrl.showSpinner">There are no items</span>
                </p>
            </td>
        </tr>
        <tr ng-repeat="item in shuttlesNumberCtrl.carsNumbersArr track by $index" ng-if="shuttlesNumberCtrl.carsNumbersArr.length  > 0">
            <td>
                <form editable-form name="editableForm" onaftersave="shuttlesNumberCtrl.save(item)" class="editable-form text-left">
                    <span>
                    <a editable-text="item.number" e-name="name"  onbeforesave="carsNumberCtrl.checkName(item.id, $data)"  e-required>{{ item.number || 'empty' }}</a>
                    </span>
                    <div class="buttons pull-right" ng-if="shuttlesNumberCtrl.showControls">
                        <button type="button" class="btn shuttle-btn btn-sm" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn- btn-primary btn-sm" ng-disabled="item.loading" ng-click="shuttlesNumberCtrl.delete(item)" ng-show="!editableForm.$visible">
                            <i class="fa fa-trash-o"></i>
                        </button>
                        <span ng-show="editableForm.$visible">
                            <button type="submit" class="btn shuttle-btn btn-sm" ng-disabled="editableForm.$waiting">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-primary btn-sm" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </td>
        </tr>
        <tr ng-if="shuttlesNumberCtrl.addCarNumberForm">
            <td>
                <div class="col-md-offset-1 col-md-10 destination-list-item " ng-if="shuttlesNumberCtrl.addCarNumberForm">
                    <div class="col-xs-9 text-right destination-list-item-text">
                        <span class="editable-wrap editable-text ng-scope">
                            <div class="editable-controls  form-group">
                                <input type="text" ng-model="shuttlesNumberCtrl.newCarNumber.number" class="editable-input form-control">
                            </div>
                        </span>
                    </div>
                    <div class="buttons">
                        <button type="submit" class="btn  shuttle-btn" ng-disabled="shuttlesNumberCtrl.newCarNumber.loading" ng-click="shuttlesNumberCtrl.add(shuttlesNumberCtrl.newCarNumber)">
                            Add
                        </button>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>