<div class="col-md-offset-1 m-t-sm col-md-10">
    <spinner-directive ng-if="pendingCtrl.showSpinner" color="sk-spinner-transport"></spinner-directive>
    <div class="text-center nameDestination" ng-if="pendingCtrl.pendingArr.length == 0">
        <span ng-if="!pendingCtrl.showSpinner">There are no pending items</span>
    </div>
    <div class="panel panel-custom  taxipanel" ng-repeat="item in pendingCtrl.pendingArr | orderBy: 'id'">
        <div class="panel-heading text-left">
            <small># {{item.id}}</small>
            <small class="pull-right">Created: {{item.creationTime | date : 'dd.MM' }}</small>
        </div>
        <div class="panel-body m-t-sm">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-4 text-left">
                        {{item.requestorName}} [Badge Nubmer: {{item.badge}} ]
                        <br> {{item.pickUpPoint}} to {{item.destination}}
                    </div>
                    <div class="col-md-4 col-sm-4 text-center">
                        <strong>{{item.phoneNomber}}</strong>
                        <br> {{item.requestTime | date : 'dd.MM.yyyy, HH:mm ' :Z }}
                    </div>
                    <div class="col-md-4 col-sm-4 text-right">
                        <br> {{item.numberOfPassengers}} Passengers
                    </div>
                    <div class="col-md-12 col-sm-12 text-center" ng-if="item.flightNumber">
                        Flight Number: <strong>{{item.flightNumber}}</strong> ArrivalTime: <strong> {{item.arrivalTime | date : 'HH:mm' :Z}} </strong>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <span ng-model="item.comment" class="form-control form-control-static"> {{item.comment}}</span>
            </div>
        </div>
        <div class="panel-footer text-right" ng-if="pendingCtrl.showControls">
            <button type="button" ng-if="pendingCtrl.showControls" class="btn btn-success btn-xs btn-w-m " ng-disabled="item.loading" ng-click="pendingCtrl.approve(item)">
                Approve
            </button>
            <button type="button" ng-if="pendingCtrl.showControls" class="btn btn-warning btn-xs btn-w-m " ng-disabled="item.loading" ng-click="pendingCtrl.reject(item)">
                Reject
            </button>

        </div>
    </div>
</div>