<div class="announcementHistoryView animated fadeInRight">
    <div class="text-center">
        <h2 class="historyTitle">{{announcementDraftsCtrl.name}}</h2>
    </div>
    <div ng-if="announcementDraftsCtrl.showSpinner" class="m-t-xll">
        <spinner-directive color=" sk-spinner-announcement"></spinner-directive>
    </div>
    <div class="col-md-12 !announcementDraftsCtrl.showSpinner">
        <div ng-if=" announcementDraftsCtrl.arr.length == 0" class="text-center nameDestination">
            There are no items
        </div>
        <table ng-if=" announcementDraftsCtrl.arr.length > 0" class="table table-condensed">
            <thead>
                <tr>
                    <th class="col-md-10 col-xs-10" ng-click="announcementDraftsCtrl.sortBy('title')">
                        Title</th>
                    <th class="col-md-2 col-xs-2">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="announcement in announcementDraftsCtrl.arr | orderBy: announcementDraftsCtrl.sortField " class="pointer">
                    <div class="row">
                        <td ui-sref="index.announcement.draftsItem({ draftsItemID: announcement.id })">{{announcement.title}}</td>
                        <td class="text-right">
                            <button ng-if="announcementDraftsCtrl.showControls" type="button" class="btn btn-announcement btn-sm" ng-click="announcementDraftsCtrl.delete(announcement)" ng-model="announcement.loading" ng-disabled="announcement.loading"> 
                                        <i class="fa fa-trash-o "></i>
                                        </button>
                        </td>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
</div>