<div class="text-center nameFeedback m-t-lg">
    <strong>Feedback</strong>
</div>

<div class="col-md-10 col-md-offset-1">
    <table class="table table-hover ">
        <thead>
            <th>
                <button type="button" class="btn btn-default" ng-if="FeedbackCtrl.showControls" ng-click="FeedbackCtrl.newCategory = !FeedbackCtrl.newCategory">
                    New Feedback Category
                </button>
                <div class="col-lg-4 col-sm-6 col-xs-4 pull-right">
                    <input class="form-control col-xs-12" placeholder="Search..." ng-model="FeedbackCtrl.search"></input>
                </div>
            </th>

        </thead>
        <tbody>
            <tr ng-repeat="item in FeedbackCtrl.categoryArr | filter:FeedbackCtrl.search  ">
                <td>
                    <form editable-form name="editableForm" onaftersave="FeedbackCtrl.save(item)" class="editable-form">
                        <div class="col-xs-8">
                            <span editable-text="item.name" e-name="name" onbeforesave="FeedbackCtrl.checkName( item.id, $data)" class="col-md-4 col-sm-4 col-xs-12" e-required> <strong>{{ item.name || 'empty' }}</strong> </span>
                            <span editable-text="item.email" class="m-l-sm" e-name="name" onbeforesave="FeedbackCtrl.checkEmail($data)" e-required> 
                                <i class="fa fa-email" aria-hidden="true"></i> {{ item.email || 'empty' }} </span>


                        </div>
                        <div class="buttons text-right" ng-if="FeedbackCtrl.showControls">
                            <button type="button" class="btn btn-warning btn-sm" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn- btn-feedback btn-sm" ng-click="FeedbackCtrl.delete(item)" ng-show="!editableForm.$visible">
                                <i class="fa fa-trash-o"></i>
                            </button>
                            <span ng-show="editableForm.$visible">
                                <button type="submit" class="btn btn-warning btn-sm" ng-disabled="editableForm.$waiting">
                                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-feedback btn-sm" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                                    <i class="fa fa-ban" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </td>
            </tr>
            <tr ng-if="FeedbackCtrl.newCategory">
                <td>
                    <div class="col-md-offset-1 col-md-10 destination-list-item " ng-if="FeedbackCtrl.newCategory">
                        <div class="col-xs-9 text-right destination-list-item-text">
                            <span class="editable-wrap editable-text ng-scope">
                                    <div class="editable-controls  form-group">
                                        <input type="text" ng-model="FeedbackCtrl.newCategoryObj.name" placeholder="Name" class="editable-input form-control" ng-class="FeedbackCtrl.errName">
                                    </div>
                                </span>
                            <span class="editable-wrap editable-text ng-scope">
                                
                                <div class="editable-controls  form-group">
                                    <input type="text" 
                                    ng-model="FeedbackCtrl.newCategoryObj.email"
                                    placeholder="E-mail"
                                    class="editable-input form-control"
                                    ng-class="FeedbackCtrl.errEmail"
                                     >
                                </div>
                            </span>
                            <span>
                                {{FeedbackCtrl.err}}
                            </span>
                        </div>
                        <div class="buttons">
                            <button type="button" class="btn btn-warning" ng-click="FeedbackCtrl.add(FeedbackCtrl.newCategoryObj)">
                                        Add
                                    </button>
                        </div>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>
</div>