<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="addDestCtrl.cancel()">
                <span aria-hidden="true">&times;</span>
            </button>
    <h4 class="modal-title" ng-if="addDestCtrl.id==0">Add new Destination</h4>
    <h4 class="modal-title" ng-if="addDestCtrl.id!=0">Edit Destination</h4>
</div>
<div class="modal-body">
    <div class="announcementElement ">
        <label class="announcementTitle ">Destination Name</label>
        <input type="text " class="input-group form-control " ng-class="addDestCtrl.errName" ng-model="addDestCtrl.item.destinationName">
    </div>
    <div>
        <label class="announcementTitle "> Day of Week
        </label>
        <select ng-options="item for item in addDestCtrl.weekDays track by item" class="form-control text-right" ng-model="addDestCtrl.choosenDay" ng-change="addDestCtrl.changeDays()"></select>
    </div>
    <div class="announcementElement ">
        <label class="announcementTitle ">Repeated Dates</label>
        <div>
            <am-multiselect multiple="true" ms-selected="There are {{addDestCtrl.selectedDates.length}} date(s) selected" ng-model="addDestCtrl.selectedDates" ms-header="Select Dates" options="c for c in addDestCtrl.custom" change="selected()"></am-multiselect>
            <div class="pull-right">
                {{addDestCtrl.item.uniqDays}}
            </div>
        </div>
    </div>
    <div class="announcementElement ">
        <div class="row">
            <div class="col-xs-5">
                <input type="text" class="form-control" ng-class="addDestCtrl.errDestinationPointName" ng-model="addDestCtrl.item.destinationPoint" placeholder="leave KAPSARC">
            </div>
            <div class="col-xs-5">
                <input type="text" class="form-control" ng-class="addDestCtrl.errLeavePointName" ng-model="addDestCtrl.item.leavePoint" placeholder="leave Point">
            </div>
            <div class="col-xs-2">
                <button type="button" class="btn btn-default" ng-click="addDestCtrl.addNewTime()" ng-disabled="addDestCtrl.item.shuttleTransfers.length > 1">
                        Next Slot
                    </button>
            </div>
        </div>
    </div>
    <div class="p-h-xss" ng-repeat="item in addDestCtrl.item.shuttleTransfers">
        <div class="row">
            <div class="col-xs-5">
                <div uib-timepicker class="timePick" ng-model="item.leaveKapsarc" show-spinners="false" hour-step="1" minute-step="1" show-meridian="ismeridian">
                </div>
            </div>
            <div class="col-xs-5">
                <div uib-timepicker class="timePick" ng-model="item.leaveDestination" show-spinners="false" min="item.leaveKapsarc" hour-step="1" minute-step="1" show-meridian="ismeridian">
                </div>
            </div>
            <div class="col-xs-2 text-center">
                <button type="button" class="btn btn-default" ng-click="addDestCtrl.removeTransfer($index)">
                        <i class="fa fa-trash-o"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- <div>

      
    </div> -->


</div>
<div class="modal-footer">
    <button class="btn  shuttle-btn pull-left" type="button" ng-if="addDestCtrl.item.id != 0" ng-disabled="addDestCtrl.item.loading" ng-click="addDestCtrl.deleteItem()">
       Delete
    </button>
    <button clas <button class="btn btn-primary" type="button" ng-disabled="addDestCtrl.item.loading" ng-click="addDestCtrl.cancel()">
        Cancel
    </button>
    <button class="btn  shuttle-btn" type="button" ng-disabled="addDestCtrl.item.loading " ng-click="addDestCtrl.ok()">
        OK
    </button>

</div>