<div ng-if="shuttleCtrl.show">
    <div class="row  fadeInLeft" animated fadeInLeft>
        <ul class="subnav shuttle " ng-class="shuttleCtrl.statusMenu">
            <li ui-sref-active="active" ng-click="shuttleCtrl.toggleMenu(shuttleCtrl.statusMenu)">
                <a ui-sref="index.shuttle.schedule">
                    <span class="nav-label">Schedule</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-click="shuttleCtrl.toggleMenu(shuttleCtrl.statusMenu)">
                <a ui-sref="index.shuttle.requests">
                    <span class="nav-label">Requests</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-click="shuttleCtrl.toggleMenu(shuttleCtrl.statusMenu)">
                <a ui-sref="index.shuttle.drivers">
                    <span class="nav-label">Drivers</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-click="shuttleCtrl.toggleMenu(shuttleCtrl.statusMenu)">
                <a ui-sref="index.shuttle.shuttles">
                    <span class="nav-label">Shuttles</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-click="shuttleCtrl.toggleMenu(shuttleCtrl.statusMenu)">
                <a ui-sref="index.shuttle.destinations">
                    <span class="nav-label">Destinations</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="col-xs-12 col-lg-10 col-md-10 col-sm-10 wrapper wrapper-content">

    <div ui-view></div>
</div>