<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Delete Destination</h4>
</div>
<div class="modal-body">
    Are you sure to delete <strong>{{modalDelCtrl.item.name}}</strong>?
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="modalDelCtrl.cancel()">
        Cancel
    </button>
    <button class="btn shuttle-btn" type="button" ng-click="modalDelCtrl.ok(modalDelCtrl.item)">
        OK
    </button>

</div>