<div class="text-center nameFeedback">
    <strong>{{scheduleCtrl.name}}</strong>
</div>
<div class="col-md-10 col-md-offset-1">
    <div class="row text-left">
        <div class="input-group col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0 col-xs-6 col-xs-offset-0 datepicker pull-right">
            <button type="button" ng-disabled="scheduleCtrl.showSpinner" class="btn btn-default full-width" ng-click="scheduleCtrl.open()">
                        {{scheduleCtrl.date | date : 'MMMM yyyy' }}
                 </button>
            <input type="hidden" class="form-control" uib-datepicker-popup="MMMM yyyy" ng-model="scheduleCtrl.date" is-open="scheduleCtrl.popup.opened" datepicker-options="scheduleCtrl.dateOptions" show-button-bar="false" type="month" close-on-date-selection="true"
                on-open-focus="false" />
            <span class="input-group-addon">
                <i class="fa fa-calendar" ng-click="scheduleCtrl.open()"ng-disabled="scheduleCtrl.showSpinner"></i>
            </span>
        </div>
        <div class="scheduleDestination" ng-if="scheduleCtrl.showControls">
            <button type="button" class="btn btn-default pull-right" ng-click="scheduleCtrl.addNewDestination()" ng-disabled="scheduleCtrl.showSpinner">
                Add New Destination
            </button>
        </div>
    </div>
    <div ng-if="scheduleCtrl.showSpinner" class="m-t-xll">
        <div ng-if="scheduleCtrl.showSpinner">
            <spinner-directive color="sk-spinner-shuttle"></spinner-directive>
        </div>
    </div>
    <div class="col-md-12" ng-if="!scheduleCtrl.showSpinner">
        <div class="text-center" ng-if="Object.keys(scheduleCtrl.allData).length == 0">
            <span>There are no items</span>
        </div>
        <div ng-repeat="(day, innerArray) in scheduleCtrl.allData" class="col-xs-12 space-10 pull-left scheduleItem">


            <div class="scheduleDay">
                {{day}}
            </div>
            <div ng-repeat="item in innerArray" class="col-xs-12  space-10 pull-right scheduleInner">
                <div class="scheduleInnerHeader">
                    {{item.destinationName}}

                    <div class="pull-right">
                        <button type="button" ng-if="scheduleCtrl.showControls" class="btn shuttle-btn btn-xs" ng-disabled="item.loading" ng-click="scheduleCtrl.updDestination(item, day)">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                        <button type="button" ng-if="scheduleCtrl.showControls" class="btn btn- btn-primary btn-xs" ng-disabled="item.loading" ng-click="scheduleCtrl.delDestination(item, $index, day)">
                            <i class="fa fa-trash-o"></i>
                    </button>
                    </div>
                    <span class="pull-right uniqDays">{{item.uniqDays}}</span>
                </div>
                <div class="col-xs-8 scheduleInnerDestination">
                    {{item.destinationPoint}} <br> {{item.leavePoint}}
                </div>
                <div ng-repeat="transfer in item.shuttleTransfers" class="col-xs-2 scheduleInnerTiming">
                    {{transfer.leaveKapsarc | date : "HH:mm" }}<br> {{transfer.leaveDestination | date : "HH:mm" }}
                </div>
            </div>
        </div>

    </div>
</div>