<ul class="subnav announcement dropdown-toggle" ng-class="announcementCtrl.statusMenu" animated fadeInLeft>
    <li ui-sref-active="active" class="announcementAddOnOpen" id="btnNewItem" ng-if="announcementCtrl.showControls" ng-click="announcementCtrl.toggleMenu(announcementCtrl.statusMenu)">
        <a ui-sref="index.announcement.item({ itemID: 0 })">
            <button type="button" class="btn btn-default">
                New Announcement
            </button>
        </a>
    </li>
    <li ui-sref-active="active" class="historyAnnouncement" ng-click="announcementCtrl.toggleMenu(announcementCtrl.statusMenu)">
        <a ui-sref="index.announcement.history">
            History
        </a>
    </li>
    <li ui-sref-active="active" class="historyAnnouncement" ng-click="announcementCtrl.toggleMenu(announcementCtrl.statusMenu)">
        <a ui-sref="index.announcement.drafts">
            Drafts
        </a>
    </li>
    <!-- <li ui-sref-active="active" ng-repeat="item in announcementCtrl.draftsArr | orderBy: 'title' ">
        <a ui-sref="index.announcement.item({ itemID: item.id })" ng-click="announcementCtrl.toggleMenu(announcementCtrl.statusMenu)">
            <span class="nav-label">{{item.title}}</span>
        </a>
    </li> -->
    <a class="btn btn-menu announcement-menu" ng-click="announcementCtrl.toggleMenu(announcementCtrl.statusMenu)">
        <i class="glyphicon glyphicon-chevron-down"></i>
    </a>
    <a class="btn btn-menu text-right announcementAddOnClosed m-r-sm" ui-sref="index.announcement.item({ itemID: 0 })">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </a>

</ul>

<div class="announcement-content">
    <div ui-view></div>
</div>