<div class="text-center nameDestination">
    <strong>History</strong>
</div>
<div class="text-left col-sm-12  col-md-10 col-md-offset-1 col-xs-12 historyNav">
    <div class="row">
        <div class="hist-buttons col-sm-8 col-md-8 col-xs-12">
            <div class="buttons-date">
                <button type="button" class="btn btn-warning btn-w-s" ng-click="historyCtrl.All()">
                All
            </button>
            </div>
            <div class="buttons-date">
                <button type="button" class="btn btn-warning  btn-w-s" ng-click="historyCtrl.completed()">
                Completed
            </button>
            </div>
            <div class="buttons-date">
                <button type="button" class="btn btn-warning  btn-w-s" ng-click="historyCtrl.rejected()">
                Rejected
            </button>
            </div>
        </div>
        <div class="input-group col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2 datepicker pull-right">
            <button type="button" class="btn btn-default full-width" ng-click="historyCtrl.open()">
                        {{historyCtrl.date | date : 'MMMM yyyy' }}
                 </button>
            <input type="hidden" class="form-control" uib-datepicker-popup="MMMM yyyy" ng-model="historyCtrl.date" is-open="historyCtrl.popup.opened" datepicker-options="historyCtrl.dateOptions" show-button-bar="false" type="month" ng-click="historyCtrl.open()" close-on-date-selection="true"
                on-open-focus="false" />
            <span class="input-group-addon">
            <i class="fa fa-calendar" ng-click="historyCtrl.open()"></i>
        </span>
        </div>
    </div>
</div>


<div class="col-md-offset-1 col-md-10 history m-t-xl">
    <spinner-directive ng-if="historyCtrl.showSpinner" color="sk-spinner-transport"></spinner-directive>

    <div class="text-center nameDestination" ng-if="historyCtrl.showArrFilter.length == 0 && !historyCtrl.showSpinner">
        <span ng-if="!activeCtrl.showSpinner">There are no items</span>
    </div>
    <div class="panel panel-custom " ng-repeat="item in historyCtrl.showArrFilter track by $index">
        <div class="panel-heading">
            <div class="row">
                <small class="col-sm-4 col-xs-3 text-left"># {{item.id}}</small>
                <small class="col-sm-4 col-xs-6 text-center">
                    <span ng-if="item.status== 'Completed'">    Driver: {{item.driverName}} | Car: {{item.carModel}} | Number: {{item.carNumber}}</span>
                </small>
                <small class="col-sm-4 col-xs-3 text-right">Created:<br>  {{item.creationTime | date : 'dd-MM' }}</small>
            </div>
        </div>

        <div class="panel-body m-t-sm">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-4 text-left">
                        {{item.requestorName}} [Badge Nubmer: {{item.badge}} ]
                        <br> {{item.pickUpPoint}} to {{item.destination}}
                    </div>
                    <div class="col-md-4 col-sm-4 text-center">
                        <strong>{{item.phoneNomber}}</strong>
                        <br> {{item.requestTime | date : 'dd.MM.yyyy, HH:mm' :Z}}
                    </div>
                    <div class="col-md-4 col-sm-4 text-right">
                        <br> {{item.numberOfPassengers}} Passengers
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="comment-form form-control-static ">{{item.comment}}</div>
            </div>
        </div>
        <div class="panel-footer text-right">
            <small>{{item.status}} by {{item.adminId}} at {{item.creationTime | date: 'dd-MM-yyyy HH:mm' :Z}}</small>
        </div>
    </div>
</div>