<div class="text-center nameDestination animated fadeInRight">
    <strong>Destinations</strong>
</div>

<div ng-repeat="item in shuttleDestinationsCtrl.mapPointsArr track by $index" class="col-md-offset-1 col-md-10 m-t-sm destination-list-item" ng-if="shuttleDestinationsCtrl.mapPointsArr.length > 0">
    <form editable-form name="editableForm" onaftersave="shuttleDestinationsCtrl.save(item)" class="col-xs-12 editable-form">
        <div class="col-xs-6 destination-list-item-text text-right">
            <span editable-text="item.name" class="destination-span" onbeforesave="shuttleDestinationsCtrl.checkName(item.id, $data)" e-name="name" e-required>{{ item.name || 'empty' }}</span>
        </div>
        <div class="buttons destination-list-item-buttons col-xs-6" ng-if="shuttleDestinationsCtrl.showControls">
            <div class="btn-onSmall">

                <div class="buttons text-left">
                    <button type="button" class="btn shuttle-btn btn-sm" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                    <button type="button" class="btn btn- btn-primary btn-sm" ng-disabled="item.loading" ng-click="shuttleDestinationsCtrl.delete(item)" ng-show="!editableForm.$visible">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    <span ng-show="editableForm.$visible">
                            <button type="submit" class="btn shuttle-btn btn-sm" ng-disabled="editableForm.$waiting">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-primary btn-sm" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                            </button>
                        </span>
                </div>
            </div>
            <div class="btn-onLarge">
                <button type="button" class="btn shuttle-btn" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                Edit
            </button>
                <button type="button" class="btn btn-primary" ng-disabled="item.loading" ng-click="shuttleDestinationsCtrl.delete(item)" ng-show="!editableForm.$visible">
                Delete
            </button>
                <span ng-show="editableForm.$visible">
                <button type="submit" class="btn shuttle-btn" ng-disabled="editableForm.$waiting">
                    Save
                </button>
                <button type="button" class="btn btn-primary" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                    Cancel
                </button>
            </span>
            </div>
        </div>
    </form>
</div>
<div class="text-center nameDestination" ng-if="shuttleDestinationsCtrl.mapPointsArr.length  == 0">
    <span ng-if="!shuttleDestinationsCtrl.showSpinner">There are no items</span>
</div>
<div class="col-md-offset-1 col-md-10 destination-list-item" ng-if="shuttleDestinationsCtrl.showControls">
    <div class="col-xs-6 col-sm-6 text-right destination-list-item-text">
        <span class="editable-wrap editable-text ng-scope">
            <div class="editable-controls  form-group">
                <input type="text" ng-model="shuttleDestinationsCtrl.newDestination.name" class="editable-input form-control">
            </div>
        </span>
    </div>
    <div class="buttons col-xs-3 col-sm-6 destination-list-item-buttons">
        <button type="button" class="btn shuttle-btn" ng-disabled="shuttleDestinationsCtrl.newDestination.loading" ng-click="shuttleDestinationsCtrl.add(shuttleDestinationsCtrl.newDestination)">
            Add
        </button>
    </div>
</div>