<div class="col-md-offset-1 col-md-10" animated fadeInLeft>
    <uib-tabset type="pills" class="m-t-sm">
        <uib-tab class="tabs-color" heading="Assign driver and vehicle" ng-click="activeCtrl.active()">
            <spinner-directive ng-if="activeCtrl.showSpinner" color="sk-spinner-transport"></spinner-directive>
            <div class="text-center nameDestination" ng-if="activeCtrl.filtered.previousArr.length == 0 && activeCtrl.filtered.thirtyMinArr.length == 0 && activeCtrl.filtered.todayArr.length == 0 && activeCtrl.filtered.nextArr.length == 0">
                <span ng-if="!activeCtrl.showSpinner">There are no items</span>
            </div>
            <div ng-if="activeCtrl.filtered.previousArr.length">
                <div class="text-center m-t-l">
                    <h3>Expired</h3>
                </div>
                <div ng-repeat="item in activeCtrl.filtered.previousArr | orderBy: 'id' track by $index" class="taxipanel">
                    <previous-taxi-request></previous-taxi-request>
                </div>
            </div>
            <div ng-if="activeCtrl.filtered.thirtyMinArr.length">
                <div class="text-center m-t-l">
                    <h3>30 min leaves</h3>
                </div>
                <div ng-repeat="item in activeCtrl.filtered.thirtyMinArr | orderBy: 'id' track by $index" class="taxipanel">
                    <active-taxi-request></active-taxi-request>
                </div>
            </div>
            <div ng-if="activeCtrl.filtered.todayArr.length">
                <div class="text-center m-t-l">
                    <h3>Today</h3>
                </div>
                <div ng-repeat="item in activeCtrl.filtered.todayArr | orderBy: 'requestTime' track by $index" class="taxipanel">
                    <next-taxi-request></next-taxi-request>
                </div>
            </div>
            <div ng-if="activeCtrl.nextArr.length">
                <div class="text-center m-t-l">
                    <h3>Next</h3>
                </div>
                <div ng-repeat="item in activeCtrl.filtered.nextArr  | orderBy: 'requestTime' track by $index" class="taxipanel">
                    <next-taxi-request></next-taxi-request>
                </div>
            </div>
        </uib-tab>

        <uib-tab class="tabs-color m-b-l" heading="In Progress" ng-click="activeCtrl.progress()">
            <div class="text-center nameDestination" ng-if="activeCtrl.inProgressArr.length == 0">
                <span ng-if="!activeCtrl.showSpinner">There are no items</span>
            </div>
            <div ng-repeat="item in activeCtrl.inProgressArr track by $index" class="taxipanel">
                <in-progress-taxi-request></in-progress-taxi-request>
            </div>
        </uib-tab>
    </uib-tabset>
</div>