.col-lg-4.users-details {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 1 1 33.333333% !important;
    max-width: 80.333333% !important;
    border: 1px solid rebeccapurple;
    margin: auto;
    background-color: #e9ecef;
    border-radius: 4px;
    padding: 11px !important;
}