<ul class="subnav events" ng-class="eventsCtrl.statusMenu" animated fadeInLeft>

    <li ui-sref-active="active" class="eventsAddOnOpen" id="btnNewItem" ng-if="eventsCtrl.showControls" ng-click="eventsCtrl.toggleMenu(eventsCtrl.statusMenu)">
        <a ui-sref="index.events.item({ itemID: 0 })">
            <button type="button" class="btn btn-default">
                New Activity/Event
            </button>
        </a>
    </li>
    <li ui-sref-active="active" class="historyevents" ng-click="eventsCtrl.toggleMenu(eventsCtrl.statusMenu)">
        <a ui-sref="index.events.schedule">
            Schedule
        </a>
    </li>
    <li ui-sref-active="active" class="historyevents" ng-click="eventsCtrl.toggleMenu(eventsCtrl.statusMenu)">
        <a ui-sref="index.events.repeated">
            Repeated Events
        </a>
    </li>
    <li ui-sref-active="active" class="historyevents" ng-click="eventsCtrl.toggleMenu(eventsCtrl.statusMenu)">
        <a ui-sref="index.events.history">
                Event History
            </a>
    </li>
    <li ui-sref-active="active" ng-repeat="item in eventsCtrl.draftsArr | orderBy: 'name' ">
        <a ui-sref="index.events.item({ itemID: item.id })" ng-click="eventsCtrl.toggleMenu(eventsCtrl.statusMenu)">
            <span class="nav-label">{{item.name}}</span>
        </a>
    </li>
    <li ng-if="eventsCtrl.showSpinner" class="space-10">
        <spinner-directive color="sk-spinner-events"></spinner-directive>
    </li>

    <a class="btn btn-menu announcement-menu" ng-click="eventsCtrl.toggleMenu(eventsCtrl.statusMenu)">
        <i class="glyphicon glyphicon-chevron-down"></i>
    </a>
    <a class="btn btn-menu text-right announcementAddOnClosed m-r-sm" ng-if="eventsCtrl.showControls" ui-sref="index.events.item({ itemID: 0 })">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </a>

</ul>

<div class="announcement-content">

    <div ui-view></div>
</div>