<div class="eventBody">
    <h3 class=" eventHeader ">Community Activity or Event
        <button ng-if="eventsItemCtrl.showEditButtons " ng-model="eventsItemCtrl.loading " ng-disabled="eventsItemCtrl.loading " type="button " class="btn btn-onSmall btn-default btn-sm pull-right " ng-click="eventsItemCtrl.delete() ">
            <span class="glyphicon glyphicon-trash " aria-hidden="true "></span>
        </button>
        <button ng-if="eventsItemCtrl.showEditButtons " ng-model="eventsItemCtrl.loading " ng-disabled="eventsItemCtrl.loading " type="button " class="btn btn-onSmall btn-default btn-sm pull-right " ng-click="eventsItemCtrl.update() ">
            <span class="glyphicon glyphicon-retweet " aria-hidden="true "></span>
    </button>
    </h3>
    <div class="eventElement ">
        <label class="eventLabel ">Title</label>
        <input type="text" class="input-group form-control" ng-class="{'errorName':eventsItemCtrl.formValidation.errorName}" maxlength="140" ng-model="eventsItemCtrl.item.name">
    </div>
    <div class="eventElement ">
        <label class="eventLabel ">Short Description
    </label>
        <input type="text" class="input-group form-control" ng-class="{'errorShortDescription': eventsItemCtrl.formValidation.errorShortDescription}" ng-model="eventsItemCtrl.item.shortDescription ">
    </div>
    <div class="eventElement">
        <label class="eventLabel">Description </label>
        <textarea ui-tinymce="eventsItemCtrl.tinymceOptions" ng-model="eventsItemCtrl.item.description"></textarea>
    </div>
    <div class="eventElement">
        <label class="eventLabel">Date & Location </label>
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group datepickerItem">
                    <span class="input-group-addon " ng-click="eventsItemCtrl.open() ">
                     <label class="eventLabel date">Date </label>
                </span >
                    <button type="button" class="btn btn-default full-width" ng-click="eventsItemCtrl.open()">
                        {{eventsItemCtrl.date | date : 'dd MMMM yyyy' }}
                 </button>
                    <input type="hidden" class="form-control text-right " uib-datepicker-popup="dd MMMM yyyy " popup-placement="top " ng-model="eventsItemCtrl.date " is-open="eventsItemCtrl.popup.opened " datepicker-options="eventsItemCtrl.dateOptions
                        " popup-placement="top " show-button-bar="false " ng-click="eventsItemCtrl.open() " ng-change="eventsItemCtrl.changeWhenDay()" />
                    <span class="input-group-addon " ng-click="eventsItemCtrl.open() ">
                    <i class="fa fa-calendar "></i>
                </span>
                </div>
            </div>
            <div class="col-sm-6 ">
                <div class="input-group " ng-class="{'errorLocation': eventsItemCtrl.formValidation.errorLocation}">
                    <span class="input-group-addon ">
                <label class="eventLabel date ">Location </label>
            </span>
                    <input type="text " class="form-control text-right " ng-model="eventsItemCtrl.item.location " />
                    <span class="input-group-addon ">
                <i class="fa fa-map-marker "></i>
            </span>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="eventElement timeSectionContainer">
        <label class="eventLabel ">Time </label>
        <div class="timeSection">
            <div class="timeFrom">
                <span>From</span>
                <div>
                    <div uib-timepicker ng-model="eventsItemCtrl.dateFrom" show-spinners="false" ng-change="eventsItemCtrl.changed()" hour-step="1" minute-step="1" show-meridian="ismeridian">
                    </div>
                </div>
            </div>
            <div class="timeTo">
                <span>To</span>
                <div>
                    <div uib-timepicker ng-model="eventsItemCtrl.dateTo" min="eventsItemCtrl.dateFrom" show-spinners="false" ng-change="eventsItemCtrl.changed()" hour-step="1" minute-step="1" show-meridian="ismeridian">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="eventElement bannerSection">
        <label class="eventLabel ">Banner</label>
        <div ng-if="eventsItemCtrl.item.banner">
            <div class="eventImgHolder banner">
                <img ng-src="{{eventsItemCtrl.item.banner}}">
                <a href="#" class="fileinput-exists eventDelImg" style="float: none" ng-click="eventsItemCtrl.removeBanner($index)">×</a>
            </div>
            <div class="eventImgHolder banner">
                <img ng-src="{{eventsItemCtrl.item.previewImage}}">
                <a href="#" class="fileinput-exists eventDelImg" style="float: none" ng-click="eventsItemCtrl.removeBanner($index)">×</a>
            </div>
        </div>
        <div ng-if="!eventsItemCtrl.item.banner">
            <label class="eventLabel bannerBox">File Upload</label>
            <div>
                <div>
                    <input type="file" id="fileInputId" class="inputfile inputfile-2" />
                    <label for="fileInputId" class="btn btn-default">
                            <span>Upload File...</span>
                        </label>
                </div>
                <div class="cropArea col-xs-12 col-md-6" ng-if="eventsItemCtrl.myImage">
                    <ui-cropper result-image-format="jpg" on-load-done="eventsItemCtrl.loadImage" result-image-quality="100" image="eventsItemCtrl.myImage" area-type="rectangle" aspect-ratio="0.8" result-blob="eventsItemCtrl.myCroppedImageBlob" result-image="eventsItemCtrl.myCroppedImage"
                        result-image-size="'max'" init-max-area="true"></ui-cropper>
                </div>
                <div class=" col-xs-12 col-md-6" ng-if="eventsItemCtrl.myImage">
                    <div class="previewTitle">Preview:</div>
                    <div><img ng-src="{{eventsItemCtrl.myCroppedImage}}" style="height:150px" /></div>
                </div>
            </div>
        </div>
    </div>
    <div class="eventElement bannerSection">
        <label class="eventLabel">Images</label>
        <div>
            <div ng-repeat="img in eventsItemCtrl.item.eventImages" class="eventImgHolder">
                <img ng-src="{{img.imageURL}}">
                <a href="#" class="fileinput-exists eventDelImg" style="float: none" ng-if="eventsItemCtrl.showControls" ng-click="eventsItemCtrl.removeImg($index)">×</a>
            </div>
            <div ng-repeat="item in eventsItemCtrl.uploader2.queue" class="eventImg">
                <div ng-show="eventsItemCtrl.uploader2.isHTML5" ng-thumb="{ file: item._file, height: 150 }"></div>
                <a href="#" class="fileinput-exists eventDelImg" style="float: none" ng-if="eventsItemCtrl.showControls" ng-click="item.remove()">×</a>
            </div>
        </div>
        <input type="file" id="file-2" nv-file-select="" multiple class="inputfile inputfile-2" uploader="eventsItemCtrl.uploader2" />
        <div>
            <label for="file-2" class="btn btn-default">
                <span>Upload Image...</span>
            </label>
        </div>
    </div>
    <div class="eventElement">
        <label class="eventLabel">Repeated Event</label>
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon">
                         Repeat
                </span>
                    <select ng-init="eventsItemCtrl.item.repeatEventState = eventsItemCtrl.item.repeatEventState || eventsItemCtrl.repeateStates[0].id" ng-options="item.id as item.name for item in eventsItemCtrl.repeateStates" class="form-control text-right" ng-model="eventsItemCtrl.item.repeatEventState"
                        ng-change="eventsItemCtrl.changeWhenDay()"></select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon">
                        When
                </span>
                    <div class="whenField text-right form-control-static">
                        {{eventsItemCtrl.whenDate}}
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="eventElement ">
        <label class="eventLabel ">Remark
    </label>
        <input type="text" class="input-group form-control" ng-model="eventsItemCtrl.item.remark ">
    </div>
</div>

<div class="eventFooter" ng-if="eventsItemCtrl.showControls">
    <button type="button" class="btn btn-events" ng-click="eventsItemCtrl.send()" ng-model="eventsItemCtrl.loading" ng-disabled="eventsItemCtrl.loading">
                    Create an Event
    </button>
    <button type="button" class="btn btn-default" ng-click="eventsItemCtrl.save()" ng-model="eventsItemCtrl.loading" ng-disabled="eventsItemCtrl.loading">
                    Save as Draft
    </button>
    <button ng-if="eventsItemCtrl.showEditButtons " ng-model="eventsItemCtrl.loading " ng-disabled="eventsItemCtrl.loading " type="button " class="btn btn-onLarge btn-default " ng-click="eventsItemCtrl.delete() ">
                    Delete
    </button>
    <button ng-if="eventsItemCtrl.showEditButtons " ng-model="eventsItemCtrl.loading " ng-disabled="eventsItemCtrl.loading " type="button " class="btn btn-onLarge btn-default " ng-click="eventsItemCtrl.update() ">
                    Update
    </button>
</div>