<div class="text-center nameDestination">
    <strong>Destinations</strong>
</div>

<spinner-directive ng-if="destinationsCtrl.showSpinner" color="sk-spinner-transport"></spinner-directive>

<div ng-repeat="item in destinationsCtrl.mapPointsArr track by $index" ng-if="!destinationsCtrl.showSpinner" class="col-md-offset-1 col-md-10 m-t-sm destination-list-item">
    <form editable-form name="editableForm" onaftersave="destinationsCtrl.save(item)" class="col-xs-12 editable-form">
        <div class="col-xs-6 destination-list-item-text text-right">
            <span editable-text="item.name" class="destination-span" onbeforesave="destinationsCtrl.checkName(item.id, $data)" e-name="item.name" e-required>{{ item.name || 'empty' }}</span>
        </div>
        <div class="buttons destination-list-item-buttons col-xs-6" ng-if="destinationsCtrl.showControls">
            <div class="btn-onSmall">

                <div class="buttons text-left">
                    <button type="button" class="btn btn-warning btn-sm" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                    <button type="button" class="btn btn- btn-primary btn-sm" ng-disabled="item.loading" ng-click="destinationsCtrl.delete(item)" ng-show="!editableForm.$visible">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    <span ng-show="editableForm.$visible">
                            <button type="submit" class="btn btn-warning btn-sm" ng-disabled="editableForm.$waiting">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-primary btn-sm" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                            </button>
                        </span>
                </div>
            </div>
            <div class="btn-onLarge">
                <button type="button" class="btn btn-warning" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                Edit
            </button>
                <button type="button" class="btn btn-primary" ng-disabled="item.loading" ng-click="destinationsCtrl.delete(item)" ng-show="!editableForm.$visible">
                Delete
            </button>
                <span ng-show="editableForm.$visible">
                <button type="submit" class="btn btn-warning" ng-disabled="editableForm.$waiting">
                    Save
                </button>
                <button type="button" class="btn btn-primary" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                    Cancel
                </button>
            </span>
            </div>
        </div>
    </form>
</div>

<div class="col-md-offset-1 col-md-10 destination-list-item" ng-if="destinationsCtrl.showControls && !destinationsCtrl.showSpinner ">
    <div class="col-xs-6 col-sm-6 text-right destination-list-item-text ">
        <span class="editable-wrap editable-text ng-scope ">
            <div class="editable-controls form-group ">
                <input type="text " ng-model="destinationsCtrl.newDestination.name " class="editable-input form-control ">
            </div>
        </span>
    </div>
    <div class="buttons col-xs-3 col-sm-6 destination-list-item-buttons ">
        <button type="button " class="btn btn-warning " ng-disabled="destinationsCtrl.newDestination.loading " ng-click="destinationsCtrl.add(destinationsCtrl.newDestination) ">
            Add
        </button>
    </div>
</div>