<div class="eventBody animated fadeInRight">
    <div class="text-center">
        <div class="col-sm-12">
            <h2 class="historyTitle">{{eventsRepeatedCtrl.name}}</h2>
        </div>
    </div>
    <div class="m-t-xll">
        <div ng-if="eventsRepeatedCtrl.showSpinner">
            <spinner-directive color="sk-spinner-events"></spinner-directive>
        </div>
    </div>
    <div ng-if="!eventsRepeatedCtrl.showSpinner">
        <div ng-if=" eventsRepeatedCtrl.eventsArr.length == 0" class="text-center nameDestination">
            There are no items
        </div>
        <table ng-if="eventsRepeatedCtrl.eventsArr.length > 0" class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th ng-click="eventsRepeatedCtrl.sortBy('name')">
                        Event</th>
                    <th ng-click="eventsRepeatedCtrl.sortBy('whenDate')">
                        When</th>
                    <th ng-click="eventsScheduleCtrl.sortBy( 'timeOfEvent') ">
                        Time</th>
                    <th ng-click="eventsRepeatedCtrl.sortBy('status')">
                        Repeat</th>
                    <th ng-click="eventsRepeatedCtrl.sortBy('nextDueDate')">
                        Next due date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="event in eventsRepeatedCtrl.eventsArr | orderBy: eventsRepeatedCtrl.sortField " ui-sref="index.events.item({ itemID: event.id })" class="pointer">
                    <td>{{event.name}}</td>
                    <td>{{event.whenDate}}</td>
                    <td>{{event.timeOfEvent}}</td>
                    <td>{{event | status }}</td>
                    <td>{{event.nextDueDate | date : 'dd.MM.yyyy' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>